@keyframes bounceIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 3.2rem);
  width: 100%;
}

.logo_container > img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 16px;
  animation: bounceIn 1.5s ease forwards;
}
