.subtask_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(234, 234, 243, 0.432);
    width: 100%;
    padding: 0.6rem 0.8rem;
    border-radius: 12px;
}

.subtask_container input{
    font-size: 1rem;
    margin-right: auto;
    width: 100%;
    color: rgba(46, 58, 89, 0.827);
}
.subtask_container button > svg{
    opacity: 0.7;
    font-size: 1.2rem;
    color: #3c3891;
}
.check_wrapper {
    position: relative;
    width: 25px;
    height: 25px;
    
}

.check_input {
    position: absolute;
    opacity: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 2;
}


.check_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #837bf35d;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    user-select: none;
    overflow: visible; 
    z-index: 1;
}


.check_label::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    z-index: -1;
    transition: none;
}


.check_input:checked + .check_label::after {
    animation: ripple 0.6s ease-out;
}


.check_input:checked + .check_label {
    background-color: gray;
    border-color: gray;
    color: white;
}

.check_input:checked + .check_label::before {
    content: "✔";
    font-size: 14px;
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s ease, transform 0.2s ease;
}


.check_label::before {
    content: "✔";
    font-size: 14px;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s ease, transform 0.2s ease;
}


@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }
    70% {
        transform: scale(3.5);
        opacity: 0.2;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}