.btnAdd{
    position: sticky;
    bottom: 20px;

    background-color: #6b64ff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    flex-shrink: 0;

    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btnAdd span {
    position: relative;
    top: -3.5px; 
}