.select {
    min-width: 30%;
    max-width: 135px;
    padding: 7px 12px;
    border-radius: 12px;
    font-size: 14px;
    background-color: rgba(234, 234, 243, 0.432);
    outline: none;
    transition: border-color 0.3s ease;
    appearance: none; 
    cursor: pointer;
    margin-bottom: 0.8rem;
    color: #2E3A59;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
}

.select:focus {
    border-color: #888; 
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}


.select option {
    font-size: 14px;
    padding: 8px;
}
